<h1>Cancer Research Study using Numpy and Pandas

>Using a dataset from Kaggle and the libraries Numpy and Pandas, we will be doing an exploratory data analysis to answer the following questions:

>Which states have the most annual cancer diagnosies?

>Which states have the most anual deaths from cancer?

In [2]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('cancer_reg.csv')

In [5]:
df.head()

,avganncount,avgdeathsperyear,target_deathrate,incidencerate,medincome,popest2015,povertypercent,studypercap,binnedinc,medianage,...,pctprivatecoveragealone,pctempprivcoverage,pctpubliccoverage,pctpubliccoveragealone,pctwhite,pctblack,pctasian,pctotherrace,pctmarriedhouseholds,birthrate
0,1397.0,469,164.9,489.8,61898,260131,11.2,499.748204,"(61494.5, 125635]",39.3,...,NaN,41.6,32.9,14.0,81.780529,2.594728,4.821857,1.843479,52.856076,6.118831
1,173.0,70,161.3,411.6,48127,43269,18.6,23.111234,"(48021.6, 51046.4]",33.0,...,53.8,43.6,31.1,15.3,89.228509,0.969102,2.246233,3.741352,45.372500,4.333096
2,102.0,50,174.7,349.7,49348,21026,14.6,47.560164,"(48021.6, 51046.4]",45.0,...,43.5,34.9,42.1,21.1,90.922190,0.739673,0.465898,2.747358,54.444868,3.729488
3,427.0,202,194.8,430.4,44243,75882,17.1,342.637253,"(42724.4, 45201]",42.8,...,40.3,35.0,45.3,25.0,91.744686,0.782626,1.161359,1.362643,51.021514,4.603841
4,57.0,26,144.4,350.1,49955,10321,12.5,0.000000,"(48021.6, 51046.4]",48.3,...,43.9,35.1,44.0,22.7,94.104024,0.270192,0.665830,0.492135,54.027460,6.796657

>Cleaning up data

In [7]:
df.drop(columns=df.loc[:, 'percentmarried':'birthrate'], inplace=True)

In [8]:
df.drop(['medincome'], axis=1)

,avganncount,avgdeathsperyear,target_deathrate,incidencerate,popest2015,povertypercent,studypercap,binnedinc,medianage,medianagemale,medianagefemale,geography
0,1397.000000,469,164.9,489.800000,260131,11.2,499.748204,"(61494.5, 125635]",39.3,36.9,41.7,"Kitsap County, Washington"
1,173.000000,70,161.3,411.600000,43269,18.6,23.111234,"(48021.6, 51046.4]",33.0,32.2,33.7,"Kittitas County, Washington"
2,102.000000,50,174.7,349.700000,21026,14.6,47.560164,"(48021.6, 51046.4]",45.0,44.0,45.8,"Klickitat County, Washington"
3,427.000000,202,194.8,430.400000,75882,17.1,342.637253,"(42724.4, 45201]",42.8,42.2,43.4,"Lewis County, Washington"
4,57.000000,26,144.4,350.100000,10321,12.5,0.000000,"(48021.6, 51046.4]",48.3,47.8,48.9,"Lincoln County, Washington"
...,...,...,...,...,...,...,...,...,...,...,...,...
3042,1962.667684,15,149.6,453.549422,6343,12.4,0.000000,"(45201, 48021.6]",44.2,41.1,48.8,"Ellsworth County, Kansas"
3043,1962.667684,43,150.1,453.549422,37118,18.8,377.175494,"(48021.6, 51046.4]",30.4,29.3,31.4,"Finney County, Kansas"
3044,1962.667684,46,153.9,453.549422,34536,15.0,1968.959926,"(51046.4, 54545.6]",30.9,30.5,31.2,"Ford County, Kansas"
3045,1962.667684,52,175.0,453.549422,25609,13.3,0.000000,"(48021.6, 51046.4]",39.0,36.9,40.5,"Franklin County, Kansas"
3046,1962.667684,48,213.6,453.549422,37030,13.9,0.000000,"(40362.7, 42724.4]",26.2,25.5,27.0,"Geary County, Kansas"

In [1]:
df.drop(columns=df.loc[:, 'povertypercent':'medianagefemale'], inplace=True)

NameError: name 'df' is not defined

In [162]:
df.head(22)

,avganncount,avgdeathsperyear,target_deathrate,incidencerate,medincome,popest2015,geography
0,1397.0,469,164.9,489.8,61898,260131,"Kitsap County, Washington"
1,173.0,70,161.3,411.6,48127,43269,"Kittitas County, Washington"
2,102.0,50,174.7,349.7,49348,21026,"Klickitat County, Washington"
3,427.0,202,194.8,430.4,44243,75882,"Lewis County, Washington"
4,57.0,26,144.4,350.1,49955,10321,"Lincoln County, Washington"
5,428.0,152,176.0,505.4,52313,61023,"Mason County, Washington"
6,250.0,97,175.9,461.8,37782,41516,"Okanogan County, Washington"
7,146.0,71,183.6,404.0,40189,20848,"Pacific County, Washington"
8,88.0,36,190.5,459.4,42579,13088,"Pend Oreille County, Washington"
9,4025.0,1380,177.8,510.9,60397,843954,"Pierce County, Washington"
10,113.0,36,121.4,413.3,54721,16252,"San Juan County, Washington"
11,740.0,269,172.7,499.3,51395,121846,"Skagit County, Washington"
12,55.0,26,188.3,398.9,52673,11339,"Skamania County, Washington"
13,3438.0,1118,165.3,493.4,71890,772501,"Snohomish County, Washington"
14,2265.0,901,171.0,440.7,50083,490945,"Spokane County, Washington"
15,251.0,106,174.2,423.8,43823,43791,"Stevens County, Washington"
16,1390.0,483,169.9,495.9,61653,269536,"Thurston County, Washington"
17,32.0,12,153.8,463.2,51022,4042,"Wahkiakum County, Washington"
18,305.0,120,162.8,442.5,49819,60338,"Walla Walla County, Washington"
19,1081.0,367,163.3,490.9,53733,212284,"Whatcom County, Washington"
20,134.0,50,140.8,390.5,41837,48177,"Whitman County, Washington"
21,958.0,403,169.4,411.0,44342,248830,"Yakima County, Washington"

>filling all null values if any

In [164]:
nan_count = df.isnull().sum().sum()
print('Number of NaN values:', nan_count)

Number of NaN values: 0

In [165]:
def replace_values(x):
    if 'Washington' in x:
        return 'Washington'
    elif 'West Virginia' in x:
        return 'West Virginia'
    elif 'Wisconsin' in x:
        return 'Wisconsin'
    elif 'Nebraska' in x:
        return 'Nebraska'
    elif 'Nevada' in x:
        return 'Nevada'
    elif 'New Hampshire' in x:
        return 'New Hampshire'
    elif 'New Jersey' in x:
        return 'New Jersey'
    elif 'New Mexico' in x:
        return 'New Mexico'
    elif 'New York' in x:
        return 'New York'
    elif 'Virginia' in x:
        return 'Virginia'
    elif 'Michigan' in x:
        return 'Michigan'
    elif 'Minnesota' in x:
        return 'Minnesota'
    elif 'North Carolina' in x:
        return 'North Carolina'
    elif 'North Dakota' in x:
        return 'North Dakota'
    elif 'Alabama' in x:
        return 'Alabama'
    elif 'Arkansas' in x:
        return 'Arkansas'
    elif 'California' in x:
        return 'California'
    elif 'Kansas' in x:
        return 'Kansas'
    elif 'Iowa' in x:
        return 'Iowa'
    elif 'Indiana' in x:
        return 'Indiana'
    elif 'Illinois'in x:
        return 'Illinois'
    elif 'Tennessee' in x:
        return 'Tennessee'
    elif 'South Dakota' in x:
        return 'South Dakota'
    elif 'South Carolina' in x:
        return 'South Carolina'
    elif 'Arizona' in x:
        return 'Arizona'
    elif 'Alaska' in x:
        return 'Alaska'
    elif 'Georgia' in x:
        return 'Georgia'
    elif 'Louisiana' in x:
        return 'Louisiana'
    elif 'Kentucky' in x:
        return 'Kentucky'
    elif 'Mississippi' in x:
        return 'Mississippi'
    elif 'Idaho' in x:
        return 'Idaho'
    elif 'Montana' in x:
        return 'Montana'
    elif 'Missouri' in x:
        return 'Missouri'
    elif 'Texas' in x:
        return 'Texas'
    elif 'Pennsylvania' in x:
        return 'Pennsylvania'
    elif 'Oklahoma' in x:
        return 'Oklahoma'
    elif 'Oregon' in x:
        return 'Oregon'
    elif 'Ohio' in x:
        return 'Ohio'
    elif 'Florida' in x:
        return 'Florida'
    elif 'Delaware' in x:
        return 'Delaware'
    elif 'Connecticut' in x:
        return 'Connecticut'
    elif 'Colorado' in x:
        return 'Colorado'
    elif 'Wyoming' in x:
        return 'Wyoming'
    elif 'Wisconsin' in x:
        return 'Wisconsin'
    elif 'Massachusetts' in x:
        return 'Massachusetts'
    elif 'Vermont' in x:
        return 'Vermont'
    elif 'Utah' in x:
        return 'Utah'
    elif 'Maryland' in x:
        return 'Maryland'
    elif 'Maine' in x:
        return 'Maine'
    elif 'Rhode Island' in x:
        return 'Rhode Island'
    elif 'Hawaii' in x:
        return 'Hawaii'
    else:
        return 'District of Columbia'

In [166]:
df['geography'] = df['geography'].apply(replace_values)

In [167]:
agg_functions = {'popest2015': 'sum', 'avganncount': 'sum', 'avgdeathsperyear': 'sum', 'target_deathrate': 'mean', 'incidencerate': 'mean'}

In [168]:
df.rename(columns = {'geography':'State'}, inplace = True)

In [169]:
df_new = df.groupby(df['State']).aggregate(agg_functions)

In [170]:
df_new['avganncount'] = df_new['avganncount'].astype(int)

In [171]:
df_new['target_deathrate'] = df_new['target_deathrate'].astype(int)
df_new['incidencerate'] = df_new['incidencerate'].astype(int)

In [172]:
df_new.rename(columns = {'popest2015':'Population', 'avganncount': 'Annual_Diag', 'avgdeathsperyear': 'Deaths', 'target_deathrate': 'Target Rate', 'incidencerate': 'Curr_Rate'}, inplace = True)

In [173]:
df_new

                      Population  Annual_Diag  Deaths  Target Rate  Curr_Rate
State
Alabama                  4733725        24087    9940          192        462
Alaska                    706895         2512     881          193        409
Arizona                  6828065        27051   10814          149        354
Arkansas                 2744169        13958    6217          200        434
California              39044831       156354   56626          158        430
Colorado                 5448153        20975    7125          141        385
Connecticut              3590886        20304    6783          157        479
Delaware                  945934         5167    1894          178        502
District of Columbia      672228         2881    1084          182        483
Florida                 20197986       105627   41619          178        436
Georgia                  9717369        40939   14916          182        450
Hawaii                   1431514         6617    2282          142        409
Idaho                    1643000         7149    2537          153        428
Illinois                12845725        64578   24228          183        482
Indiana                  6678819        32112   13318          187        453
Iowa                     3101652        16801    6362          166        467
Kansas                   2825490       198229    5182          167        453
Kentucky                 4413029        24699    9853          215        513
Louisiana                4624353        22946    9127          197        482
Maine                    1297703         7972    3096          180        474
Maryland                 5856816        26869   10091          176        459
Massachusetts            6794422        36128   12943          164        482
Michigan                 9922576        53498   20432          177        433
Minnesota                5237997       168789    9195          161        453
Mississippi              2958239        14819    6259          203        466
Missouri                 6044848        30737   12582          188        435
Montana                  1002788         5194    1879          163        450
Nebraska                 1866571         8761    3368          160        427
Nevada                   2998280        34041    4857          177        449
New Hampshire            1330608         7561    2613          170        486
New Jersey               8958013        48056   16572          168        494
New Mexico               2084411         8705    3365          156        382
New York                19733561       105075   35385          171        497
North Carolina           9729465        46948   17708          178        458
North Dakota              755224         3448    1272          160        429
Ohio                    10300589        55352   23067          186        450
Oklahoma                 3837828        18170    7747          194        440
Oregon                   3454651        17627    6998          170        446
Pennsylvania            12507276        74096   28113          175        482
Rhode Island              929781         5115    1961          165        476
South Carolina           4896146        23792    9498          188        450
South Dakota              834213         4033    1575          163        437
Tennessee                6473997        32621   13404          201        471
Texas                   21303529        78524   30728          171        400
Utah                     2837691         8518    2564          136        396
Vermont                   567430         3205    1204          177        472
Virginia                 8171964        35240   13797          182        445
Washington               9787730        49100   16837          171        447
West Virginia            1844128        11130    4734          196        460
Wisconsin                5637663        28856   11047          172        444
Wyoming                   586107         2546     959          158        410

In [174]:
df_new['Perc_Diag'] = ((df_new['Annual_Diag']/df_new['Population'])*100).round(2)

In [175]:
df_new['Perc_TotalDeaths'] = ((df_new['Deaths']/df_new['Population'])*100).round(2)

In [176]:
df_new['Perc_DeathFromDiag'] = ((df_new['Deaths']/df_new['Annual_Diag'])*100).round(2)

In [177]:
df_new

,Population,Annual_Diag,Deaths,Target Rate,Curr_Rate,Perc_Diag,Perc_TotalDeaths,Perc_DeathFromDiag
State,,,,,,,,
Alabama,4733725,24087,9940,192,462,0.51,0.21,41.27
Alaska,706895,2512,881,193,409,0.36,0.12,35.07
Arizona,6828065,27051,10814,149,354,0.40,0.16,39.98
Arkansas,2744169,13958,6217,200,434,0.51,0.23,44.54
California,39044831,156354,56626,158,430,0.40,0.15,36.22
Colorado,5448153,20975,7125,141,385,0.38,0.13,33.97
Connecticut,3590886,20304,6783,157,479,0.57,0.19,33.41
Delaware,945934,5167,1894,178,502,0.55,0.20,36.66
District of Columbia,672228,2881,1084,182,483,0.43,0.16,37.63
Florida,20197986,105627,41619,178,436,0.52,0.21,39.40
Georgia,9717369,40939,14916,182,450,0.42,0.15,36.43
Hawaii,1431514,6617,2282,142,409,0.46,0.16,34.49
Idaho,1643000,7149,2537,153,428,0.44,0.15,35.49
Illinois,12845725,64578,24228,183,482,0.50,0.19,37.52
Indiana,6678819,32112,13318,187,453,0.48,0.20,41.47
Iowa,3101652,16801,6362,166,467,0.54,0.21,37.87
Kansas,2825490,198229,5182,167,453,7.02,0.18,2.61
Kentucky,4413029,24699,9853,215,513,0.56,0.22,39.89
Louisiana,4624353,22946,9127,197,482,0.50,0.20,39.78
Maine,1297703,7972,3096,180,474,0.61,0.24,38.84
Maryland,5856816,26869,10091,176,459,0.46,0.17,37.56
Massachusetts,6794422,36128,12943,164,482,0.53,0.19,35.83
Michigan,9922576,53498,20432,177,433,0.54,0.21,38.19
Minnesota,5237997,168789,9195,161,453,3.22,0.18,5.45
Mississippi,2958239,14819,6259,203,466,0.50,0.21,42.24
Missouri,6044848,30737,12582,188,435,0.51,0.21,40.93
Montana,1002788,5194,1879,163,450,0.52,0.19,36.18
Nebraska,1866571,8761,3368,160,427,0.47,0.18,38.44
Nevada,2998280,34041,4857,177,449,1.14,0.16,14.27
New Hampshire,1330608,7561,2613,170,486,0.57,0.20,34.56
New Jersey,8958013,48056,16572,168,494,0.54,0.18,34.48
New Mexico,2084411,8705,3365,156,382,0.42,0.16,38.66
New York,19733561,105075,35385,171,497,0.53,0.18,33.68
North Carolina,9729465,46948,17708,178,458,0.48,0.18,37.72
North Dakota,755224,3448,1272,160,429,0.46,0.17,36.89
Ohio,10300589,55352,23067,186,450,0.54,0.22,41.67
Oklahoma,3837828,18170,7747,194,440,0.47,0.20,42.64
Oregon,3454651,17627,6998,170,446,0.51,0.20,39.70
Pennsylvania,12507276,74096,28113,175,482,0.59,0.22,37.94
Rhode Island,929781,5115,1961,165,476,0.55,0.21,38.34
South Carolina,4896146,23792,9498,188,450,0.49,0.19,39.92
South Dakota,834213,4033,1575,163,437,0.48,0.19,39.05
Tennessee,6473997,32621,13404,201,471,0.50,0.21,41.09
Texas,21303529,78524,30728,171,400,0.37,0.14,39.13
Utah,2837691,8518,2564,136,396,0.30,0.09,30.10
Vermont,567430,3205,1204,177,472,0.56,0.21,37.57
Virginia,8171964,35240,13797,182,445,0.43,0.17,39.15
Washington,9787730,49100,16837,171,447,0.50,0.17,34.29
West Virginia,1844128,11130,4734,196,460,0.60,0.26,42.53
Wisconsin,5637663,28856,11047,172,444,0.51,0.20,38.28
Wyoming,586107,2546,959,158,410,0.43,0.16,37.67

In [185]:
df_MostAnuualDiag=df_new['Annual_Diag'].sort_values(ascending=False)

In [193]:
df_MostAnuualDiag

State
Kansas                  198229
Minnesota               168789
California              156354
Florida                 105627
New York                105075
Texas                    78524
Pennsylvania             74096
Illinois                 64578
Ohio                     55352
Michigan                 53498
Washington               49100
New Jersey               48056
North Carolina           46948
Georgia                  40939
Massachusetts            36128
Virginia                 35240
Nevada                   34041
Tennessee                32621
Indiana                  32112
Missouri                 30737
Wisconsin                28856
Arizona                  27051
Maryland                 26869
Kentucky                 24699
Alabama                  24087
South Carolina           23792
Louisiana                22946
Colorado                 20975
Connecticut              20304
Oklahoma                 18170
Oregon                   17627
Iowa                     16801
Mississippi              14819
Arkansas                 13958
West Virginia            11130
Nebraska                  8761
New Mexico                8705
Utah                      8518
Maine                     7972
New Hampshire             7561
Idaho                     7149
Hawaii                    6617
Montana                   5194
Delaware                  5167
Rhode Island              5115
South Dakota              4033
North Dakota              3448
Vermont                   3205
District of Columbia      2881
Wyoming                   2546
Alaska                    2512
Name: Annual_Diag, dtype: int32

In [194]:
df_HighestPercDiag=df_new['Perc_Diag'].sort_values(ascending=False)

In [195]:
df_HighestPercDiag

State
Kansas                  7.02
Minnesota               3.22
Nevada                  1.14
Maine                   0.61
West Virginia           0.60
Pennsylvania            0.59
New Hampshire           0.57
Connecticut             0.57
Vermont                 0.56
Kentucky                0.56
Rhode Island            0.55
Delaware                0.55
Ohio                    0.54
Iowa                    0.54
Michigan                0.54
New Jersey              0.54
New York                0.53
Massachusetts           0.53
Florida                 0.52
Montana                 0.52
Oregon                  0.51
Wisconsin               0.51
Alabama                 0.51
Missouri                0.51
Arkansas                0.51
Mississippi             0.50
Illinois                0.50
Tennessee               0.50
Washington              0.50
Louisiana               0.50
South Carolina          0.49
Indiana                 0.48
South Dakota            0.48
North Carolina          0.48
Oklahoma                0.47
Nebraska                0.47
North Dakota            0.46
Hawaii                  0.46
Maryland                0.46
Idaho                   0.44
Virginia                0.43
Wyoming                 0.43
District of Columbia    0.43
New Mexico              0.42
Georgia                 0.42
California              0.40
Arizona                 0.40
Colorado                0.38
Texas                   0.37
Alaska                  0.36
Utah                    0.30
Name: Perc_Diag, dtype: float64

In [189]:
df_MostAnuualDeaths=df_new['Deaths'].sort_values(ascending=False)

In [190]:
df_MostAnuualDeaths

State
California              56626
Florida                 41619
New York                35385
Texas                   30728
Pennsylvania            28113
Illinois                24228
Ohio                    23067
Michigan                20432
North Carolina          17708
Washington              16837
New Jersey              16572
Georgia                 14916
Virginia                13797
Tennessee               13404
Indiana                 13318
Massachusetts           12943
Missouri                12582
Wisconsin               11047
Arizona                 10814
Maryland                10091
Alabama                  9940
Kentucky                 9853
South Carolina           9498
Minnesota                9195
Louisiana                9127
Oklahoma                 7747
Colorado                 7125
Oregon                   6998
Connecticut              6783
Iowa                     6362
Mississippi              6259
Arkansas                 6217
Kansas                   5182
Nevada                   4857
West Virginia            4734
Nebraska                 3368
New Mexico               3365
Maine                    3096
New Hampshire            2613
Utah                     2564
Idaho                    2537
Hawaii                   2282
Rhode Island             1961
Delaware                 1894
Montana                  1879
South Dakota             1575
North Dakota             1272
Vermont                  1204
District of Columbia     1084
Wyoming                   959
Alaska                    881
Name: Deaths, dtype: int64